html{
  text-align: center;
  font-family: Helvetica;
}

div.Head {
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

.Process h4{
  font-size: 14px;
  color: black;
}

h4{
  font-size: 18px;
  color: white;
}
