html{
  text-align: center;
  font-family: Helvetica;
}

div {
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
